# NOTE: These requirements are used for developing code on the repo. 
# As a standard they include certain formatters and linters.

# local package
-e ../.

# external requirements (mostly linters and formatters)
flake8              # flake8 linter
flake8-docstrings   # docstring support for flake8
mypy                # python type checker
black               # automatic formatting provider
isort               # automatic import sorter
python-dotenv       # environment variable manager
jedi                # another linter I use
pylint              # another linter I use
jupytext            # for converting between notebooks and scripts
nbconvert           # backend for jupytext
node                # required for CoC, which I use in nvim
